html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.page {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase; }
  .page__inner {
    max-width: 320px; }

.page-header {
  position: relative; }
  .page-header__toggle {
    content: "";
    position: absolute;
    width: 70px;
    height: 50px;
    background: transparent;
    border: none; }
    .page-header__toggle:hover {
      filter: blur(1px); }
    .page-header__toggle:active {
      opacity: 0.5; }
    .page-header__toggle--close {
      top: 0px;
      right: 0px; }
      .page-header__toggle--close:after {
        content: "";
        position: absolute;
        top: 25px;
        right: 18px;
        width: 27px;
        height: 4px;
        background-color: #ffffff;
        transform: rotate(45deg); }
      .page-header__toggle--close:before {
        content: "";
        position: absolute;
        top: 25px;
        right: 18px;
        width: 27px;
        height: 4px;
        background-color: #ffffff;
        transform: rotate(-45deg); }
    .page-header__toggle--open {
      top: 225px;
      right: 0px; }
      .page-header__toggle--open:after {
        content: "";
        position: absolute;
        top: 14px;
        right: 20px;
        width: 23px;
        height: 4px;
        background-color: #81b3d2;
        box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2; }
  .page-header__toggle-name-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden; }
  .page-header__button {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    outline: none; }
  .page-header__logo {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    z-index: 1; }

.main-menu {
  display: flex;
  flex-direction: column; }
  .main-menu__item {
    display: flex;
    background: #81b3d2; }
    .main-menu__item:not(:last-child) {
      border-bottom: 1px solid #678fa8; }
    .main-menu__item:not(:first-child) {
      border-top: 1px solid #9ac2db; }
    .main-menu__item:last-child {
      box-shadow: inset 0px -2px 5px 0px #6c96b0; }
  .main-menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 18px 0px;
    white-space: nowrap; }
    .main-menu__link:hover {
      filter: blur(1px); }
    .main-menu__link:active {
      background: #ffffff;
      color: #81b3d2; }

.intro__image {
  position: relative;
  display: block;
  margin-top: 55px;
  padding-top: 90px;
  padding-bottom: 85px;
  background-image: url(pictures/back-mobile.jpg);
  background-size: cover; }
  .intro__image:before {
    content: '';
    width: 50%;
    height: 7%;
    position: absolute;
    background: #ffffff;
    z-index: 1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(9deg); }
  .intro__image:after {
    content: '';
    width: 50%;
    height: 7%;
    position: absolute;
    background: #ffffff;
    z-index: 1;
    bottom: 0;
    right: 0;
    transform-origin: right bottom;
    transform: skewY(-9deg); }

.intro__text {
  display: block;
  margin: 0 auto; }

.section__text {
  width: 80%;
  text-align: center;
  margin: 0 auto; }
  .section__text--caption {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.5em; }
  .section__text--caption-white {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold; }
  .section__text--topic {
    color: #333333;
    font-size: 14px;
    line-height: 1.9em; }
  .section__text--topic-white {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5em; }

.section__number {
  display: block;
  margin: 15px 0px; }

.text-card {
  padding-top: 40px;
  padding-bottom: 42px; }
  .text-card--blue {
    background-color: #81b3d2; }
  .text-card--bottom-angle {
    position: relative; }
    .text-card--bottom-angle:before {
      content: '';
      width: 50%;
      height: 7%;
      position: absolute;
      background: #81b3d2;
      z-index: 1;
      bottom: 0;
      transform-origin: left bottom;
      transform: skewY(6deg); }
    .text-card--bottom-angle:after {
      content: '';
      width: 50%;
      height: 7%;
      position: absolute;
      background: #81b3d2;
      z-index: 1;
      bottom: 0;
      right: 0;
      transform-origin: right bottom;
      transform: skewY(-6deg); }

.description__cards {
  width: 70%;
  margin-left: 22%;
  padding: 35px 0px; }

.cards__caption {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative; }
  .cards__caption--house:before {
    content: "";
    position: absolute;
    width: 39px;
    height: 37px;
    top: -10px;
    left: -50px;
    background-image: url(pictures/icon-house.svg); }
  .cards__caption--gift:before {
    content: "";
    position: absolute;
    width: 32px;
    height: 38px;
    top: -15px;
    left: -45px;
    background: url(pictures/icon-gift.svg); }
  .cards__caption--food:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 35px;
    top: -5px;
    left: -50px;
    background-image: url(pictures/icon-burger.svg); }

.cards__topic {
  color: #333333;
  font-size: 14px;
  line-height: 1.5em; }

.cards__part {
  margin-bottom: 30px; }
  .cards__part:last-child {
    margin-bottom: 0px; }

.sight__part {
  background-color: #eeeeee; }

.sight__cards {
  width: 80%;
  text-align: center;
  margin: 0 auto; }

.sight__card {
  padding-top: 30px;
  padding-bottom: 25px; }
  .sight__card:not(:last-child) {
    border-bottom: 1px solid #d6d6d6; }

.sight__caption {
  color: #000000;
  font-size: 18px;
  font-weight: bold; }

.sight__number {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px; }

.sight__topic {
  color: #333333;
  font-size: 14px;
  line-height: 1.5em; }

.order-card {
  padding-top: 30px;
  padding-bottom: 32px; }
  .order-card__text {
    width: 85%;
    text-align: center;
    margin: 0 auto; }
    .order-card__text--caption {
      color: #000000;
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 20px; }
    .order-card__text--topic {
      color: #333333;
      font-size: 14px;
      line-height: 1.9em; }

.order__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  height: 60px;
  width: 87.5%;
  text-align: center;
  background-color: #81b3d2;
  border: none;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer; }
  .order__button:hover {
    filter: blur(1px); }
  .order__button:active {
    background-color: #ffffff;
    color: #81b3d2; }

.footer-page {
  padding-top: 40px;
  padding-bottom: 20px; }
  .footer-page__tag {
    text-align: center;
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 35px; }
  .footer-page__socials {
    margin: 0 auto;
    width: 155px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between; }
  .footer-page__icons {
    background-color: #81b3d2;
    padding: 17px 14px; }
    .footer-page__icons--facebook {
      background-color: #81b3d2;
      padding: 13px 19px 17px 19px; }
      .footer-page__icons--facebook:hover {
        filter: blur(1px); }
    .footer-page__icons:hover {
      filter: blur(1px); }
    .footer-page__icons:active {
      opacity: 0.5; }
  .footer-page__pic {
    margin-top: 17px; }
    .footer-page__pic--facebook {
      margin-top: 13px; }
  .footer-page__copyrights {
    width: 150px;
    margin: 0 auto; }
  .footer-page__copyrights-name {
    display: inline-block; }
  .footer-page__copyrights-logo {
    display: inline-block;
    vertical-align: middle; }
