.graphs {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
    &--visited {
        @media (min-width: 768px) {            
            flex-wrap: wrap;            
            width: 70%;
            margin-top: 45px;                
        }
        @media (min-width: 1280px) {
            width: 100%; 
            flex-wrap: nowrap; 
            margin-top: 53px;                                             
        }
    }
    &--btn {
        @media (min-width: 768px) {           
            align-items: center;
            margin-bottom: 25px;                             
        }
        @media (min-width: 1280px) {                
            margin-bottom: 30px;                             
        }
    }    
    &--contact {
        @media (min-width: 768px) {
            display: block;  
        }           
        @media (min-width: 1280px) {
            display: flex; 
            margin-top: 42px;
            justify-content: space-between;                                  
        }
    }
}