.intro {
    &__image {        
        display: block;  
        margin-top: 55px;
        padding-top: 90px;
        padding-bottom: 85px;
        background-image: url(pictures/back-mobile.jpg);
        background-size: cover;                               
    }
    &__text {
        display: block;  
        margin: 0 auto;
    }
}
