.intro {         
    &__image {         
        position: relative;       
        display: block;         
        margin-top: 55px;
        padding-top: 90px;
        padding-bottom: 135px;
        margin-bottom: -40px;      
        background-image: url(pictures/back-mobile.jpg);
        background-size: cover; 
        background-repeat: no-repeat;
        overflow: hidden;
        &:before {
            content: '';
            width: 55%;            
            height: 4em;
            position: absolute;
            background: $menu-text-color;
            z-index: 1;
            bottom: 0;  
            transform-origin: left bottom;
            transform: skewY(9deg);                                  
        } 
        &:after {
            content: '';
            width: 55%;
            height: 4em;
            position: absolute;
            background: $menu-text-color;
            z-index: 1;
            bottom: 0; 
            right: 0; 
            transform-origin: right bottom;
            transform: skewY(-9deg);                       
        } 
        &--form {
            padding-top: 60px;
            padding-bottom: 110px;
            background-position: 0px -205px;
            margin-bottom: -18px;                        
        }                             
    }
    &__text {  
        display: block;       
        margin: 0 auto; 
        &--tablet  {
            margin-top: -10px;
        }            
    }    
    
}

@media (min-width: 768px) {
    .intro {
        &__image {                  
            margin-top: 0px;              
            background-image: url(pictures/back-tablet.jpg);  
            background-size: 101%; 
            padding-bottom: 140px;                       
            &:before {                
                height: 6.6em;
                left: 4.4%; 
                transform: skewY(8deg);                 
            } 
            &:after {                
                height: 6.6em;
                right: 4.4%;
                transform: skewY(-8deg);  
            } 
            &--form {
                padding-top: 105px;
                padding-bottom: 175px;
                background-position: 0px -205px;
                margin-bottom: -8px;                        
            }       
        }
    }
}

@media (min-width: 1280px) {
    .intro {
        &__image {             
            background-image: url(pictures/back-desktop.jpg); 
            background-size: inherit;             
            padding-bottom: 140px;            
            &:before {                
                height: 6.6em;
                left: 250px;
                width: 360px;                                   
            } 
            &:after {                
                height: 6.6em;
                right: 250px;
                width: 360px;                 
            } 
            &--form {  
                padding-top: 115px;              
                padding-bottom: 175px;                
                margin-bottom: 30px; 
            }             
        }
    }
}
