.intro {
    &__image { 
        position: relative;       
        display: block;         
        margin-top: 55px;
        padding-top: 90px;
        padding-bottom: 135px;
        margin-bottom: -40px;      
        background-image: url(pictures/back-mobile.jpg);
        background-size: cover; 
        background-repeat: no-repeat;
        overflow: hidden;
        &:before {
            content: '';
            width: 50%;            
            height: 4em;
            position: absolute;
            background: $menu-text-color;
            z-index: 1;
            bottom: 0;  
            transform-origin: left bottom;
            transform: skewY(9deg);                                  
          } 
          &:after {
            content: '';
            width: 50%;
            height: 4em;
            position: absolute;
            background: $menu-text-color;
            z-index: 1;
            bottom: 0; 
            right: 0; 
            transform-origin: right bottom;
            transform: skewY(-9deg);                       
          }                              
    }
    &__text {  
        display: block;       
        margin: 0 auto; 
        &--tablet  {
            margin-top: -10px;
        }            
    }
    
}

@media (min-width: 768px) {
    .intro {
        &__image {                  
            margin-top: 0px;
            padding-bottom: 220px;  
            background-image: url(pictures/back-desktop.jpg);  
            background-size: 101%; 
            padding-bottom: 140px;                       
            &:before {                
                height: 6.6em;
                left: 4.4%;                  
            } 
            &:after {                
                height: 6.6em;
                right: 4.4%; 
            }       
        }
    }
}
