.main-menu {
    display: flex;   
    flex-direction: column;                                
    &__item {
        display: flex;         
        background: $menu-color;
        &:not(:last-child) {
            border-bottom: 1px solid $main-menu-border-color;          
        }  
        &:not(:first-child) {
            border-top: 1px solid $main-menu-borderup-color;
        }
        &:last-child {
            box-shadow: inset 0px -2px 5px 0px $main-menu-bordershadow-color;
        }                      
    }          
    &__link {         
        text-transform: uppercase;
        text-decoration: none;
        color: $menu-text-color;
        font-weight: bold;
        font-size: 18px; 
        width: 100%;  
        text-align: center;
        padding: 18px 0px;
        white-space: nowrap; 
        &:hover {            
            filter: blur(1px);           
        } 
        &:active {            
            background: $menu-text-color; 
            color: $menu-color;                     
        }                            
    }     
}

