.order {
    &__btn {        
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 45px;         
    }
}

@media (min-width: 768px) {
    .order {
        &__btn { 
            width: 60%;
            margin-bottom: 55px;  
        }
    }
}

@media (min-width: 1280px) {
    .order {
        &__btn {             
            margin-bottom: 62px;  
        }
    } 
}