.order {
    &__btn {        
        display: block;
        margin-left: auto;
        margin-right: auto;        
        &--main {
            width: 90%; 
            height: 55px;
            margin-bottom: 45px;
            @media (min-width: 768px) {
                width: 61%;
                height: 60px;
                margin-bottom: 55px;
            }
            @media (min-width: 1280px) {
                width: 38%;            
                margin-bottom: 62px;
            }
        }
        &--form {
            width: 98%;
            height: 60px; 
            @media (min-width: 768px) {
                width: 50%;
                margin-left: 0;              
            }             
        }         
    }
}
