.order-card {
    padding-top: 30px; 
    padding-bottom: 32px;
    &__text {
        width: 90%; 
        text-align: center;
        margin: 0 auto; 
        &--caption{
            color: $black-color;        
            font-size: 21px;
            font-weight: bold; 
            margin-bottom: 20px;            
        }         
        &--topic {
        color: $topic-color;        
        font-size: 14px;
        line-height: 1.9em; 
        }
    }
}

@media (min-width: 768px) {
    .order-card {
        padding-top: 50px; 
        padding-bottom: 42px;
        &__text {            
            &--caption{                       
                font-size: 30px;
                margin-bottom: 30px;                          
            }
            &--topic {
                line-height: 1.75em; 
            } 
            &--topic-tablet {
                display: block; 
            } 
        }        
    }

}
@media (min-width: 1280px) {
    .order-card {
        padding-top: 55px; 
        padding-bottom: 45px;      
    }
}