.page-header {
    position: relative;    
    &__logo {                
        position: absolute;
        top: 100%;
        left: 50%;
        margin-right: -50%;
        transform: translateX(-50%)                                  
    }
    &__image {                  
    }
}