@font-face {
	font-family: "PT Sans"; 
	src: url(font/PTSans-Regular.woff2); 
} 
.page {  
    font-family: $font-primary; 
    text-transform: uppercase;
    &__inner {
        min-width: 300px;
        max-width: 1279px; 
        &--open {                                      
            .main-menu {                                       
                &__list {
                    bottom: -220px;                                                                               
                }
                &__btn {                
                    &--open {
                        display: none;                                   
                    }
                    &--close {
                        display: block;                    
                    }
                }            
            }
            .intro { 
                margin-top: 275px; 
            }
            .page-header {                                     
                &__logo {
                    margin-top: 220px;
                }
            }
        }            
        @media (min-width: 1280px) { 
            width: 1200px; 
            margin: 0 auto;
            background-color: $menu-text-color;
            box-shadow: 0 0 8px 4px $body-shadow;
        }            
    } 
    @media (min-width: 1280px) { 
        background-color: $sight-back-color;
    }   
}
