.search-button {
    height: 60px;
    width: 87.5%;       
    text-align: center;       
    background-color: $menu-color; 
    border: none; 
    color: $menu-text-color;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;        
    &:hover {            
        filter: blur(1px);  
    } 
    &:active {            
        background-color: $menu-text-color;
        color: $menu-color;
    } 
    @media (min-width: 768px) {
        width: 60%;
    }
    @media (min-width: 1280px) {
        width: 38%;
    }              
}