.sight {
    &__part{
        background-color: $sight-back-color;        
    }
    &__cards {
        width: 80%; 
        text-align: center;
        margin: 0 auto;        
    }
    &__card {
        padding-top: 30px;
        padding-bottom: 25px;
        &:not(:last-child) {             
            border-bottom: 1px solid $sight-card-border; 
        }
    }
    &__caption {
        color: $black-color;        
        font-size: 18px;
        font-weight: bold;                  
    }
    &__number {
        display: block;
        margin-top: 15px; 
        margin-bottom: 15px;       
    }
    &__topic {
        color: $topic-color;        
        font-size: 14px;
        line-height: 1.5em;                     
    } 
}
@media (min-width: 768px) {
        .sight {
        display: flex;
        flex-wrap: wrap;
        &__part{
            width: 100%;        
        }        
        &__cards {
            width: 100%;           
            display: flex; 
            order: -1;                                               
        }
        &__card {
            width: 33.3%;            
            padding-top: 45px;
            padding-bottom: 45px;                                
        } 
        &__caption {                   
            font-size: 21px;
            width: 60%; 
            line-height: 1.2em;
            margin: 0 auto;                                                
        } 
        &__number {
            display: block;
            margin-top: 12px; 
            margin-bottom: 20px;       
        } 
        &__topic {
            width: 60%; 
            margin: 0 auto;            
            &--left {                
                width: 70%;                 
                hyphens: auto;
            }                                             
        }
    }        
}

