.sight {
    &__part{
        background-color: $sight-back-color;        
    }
    &__cards {
        width: 80%; 
        text-align: center;
        margin: 0 auto;        
    }
    &__card {
        padding-top: 30px;
        padding-bottom: 25px;
        &:not(:last-child) {             
            border-bottom: 1px solid $sight-card-border; 
        }
    }
    &__caption {
        color: $black-color;        
        font-size: 18px;
        font-weight: bold;                  
    }
    &__number {
        display: block;
        margin-top: 15px; 
        margin-bottom: 15px;       
    }
    &__topic {
        color: $topic-color;        
        font-size: 14px;
        line-height: 1.5em;                     
    } 
}


