.text-card {    
    padding-top: 40px; 
    padding-bottom: 42px;     
    &--blue {
        background-color: $menu-color;        
    }       
    &--bottom-angle {
        position: relative;
        overflow: hidden;
        z-index: 2; 
        padding-bottom: 73px;          
        &:before {
            content: '';
            width: 50%;
            height: 3em;
            position: absolute;
            background: $menu-color;
            z-index: 1;
            bottom: 0;  
            transform-origin: left bottom;
            transform: skewY(6deg);                       
          } 
          &:after {
            content: '';
            width: 50%;
            height: 3em;
            position: absolute;
            background: $menu-color;
            z-index: 1;
            bottom: 0; 
            right: 0; 
            transform-origin: right bottom;
            transform: skewY(-6deg);                       
          }                      
    }
}