$font-primary: "PT Sans", Arial, Helvetica, sans-serif;
$menu-color: #81b3d2;
$menu-text-color: #ffffff;
$main-menu-border-color: #678fa8;
$main-menu-borderup-color: #9ac2db;
$main-menu-bordershadow-color: #6c96b0;
$black-color: #000000;
$topic-color: #333333;
$sight-back-color: #eeeeee;
$sight-card-border: #d6d6d6;
$body-shadow: #dbdbdb;