$font-primary: "PT Sans", Arial, Georgia;
$menu-color: #81b3d2;
$menu-text-color: #ffffff;
$main-menu-border-color: #678fa8;
$main-menu-borderup-color: #9ac2db;
$main-menu-bordershadow-color: #6c96b0;
$black-color: #000000;
$topic-color: #333333;
$sight-back-color: #eeeeee;
$sight-card-border: #d6d6d6;
$body-shadow: #dbdbdb;
$form-card-border: #e5e5e5;
$form-input-space: #f2f2f2;
$form-input-space-hvr: #e5e5e5;
$form-input-space-act: #d5d5d5;
$form-icons: #e6e6e6;
$form-error: #ff5c5c;